<div class="jumbotron jumbotron-fluid">
  <div class="container my-auto">
    <h1 class="display-4"><%= local_assigns.fetch(:title) %></h1>
    <p class="lead"><%= local_assigns.fetch(:sub_title) %></p>
  </div>
</div>