<div class="col-lg-4 mb-4 text-center">
  <img class="rounded-circle mb-2" src="<%= feature[:image_src] %>" alt="Card image cap">
  <h3><%= feature[:header] %></h3>
  <p><%= feature[:text] %></p>
</div>