<%= render "hero" %>

<div class="container">
    <% content.each_with_index do |c, index| %>
        <%= render "section", content: c %>
        <% unless index == content.size - 1 %>
            <hr class="my-5" \>
        <% else %>
            <div class="mb-5" \>
        <% end %>
    <% end %>
</div>