<%= render "components/hero", title: title, sub_title: sub_title %>

<div class="container">
  <h2 class="text-center">Core values</h2>
  <div class="row justify-content-around">
    <% features.each do |feature| %>
      <%= render "image_feature", feature: feature %>
    <% end %>
  </div>
  <hr class="my-5" \>

  <% content.each_with_index do |c, index| %>
      <%= render "section", content: c %>
      <% unless index == content.size - 1 %>
          <hr class="my-5" \>
      <% else %>
          <div class="mb-5" \>
      <% end %>
  <% end %>
</div>