<%= render "hero" %>

<div class="container">
    <h2 class="h2">Section 1</h2>
    <%= render "section"%>

    <h2 class="h2">Section 2</h2>
    <%= render "section"%>

    <h2 class="h2">Section 3</h2>
    <%= render "section"%>
</div>