<div class="container">
    <h1>Portfolio</h1>

    <div class="row justify-content-around">
        <% cards.each do |card| %>
            <div clss="col-sm d-flex">
                <%= render "card", card: card %>
            </div>
        <% end %>
    </div>
</div>
