@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$white: white;
$black: black;

.jumbotron {
        background: black;
        color: $white;
        text-align: center;
        div.lead {
                color: $white;
                font-size: 26px;
        }
}