.color_spectrum_item {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.color_spectrum_item:hover {
  border-radius:3px;
  box-shadow:0 2px 4px rgba(0,0,0,.08),0 12px 20px rgba(0,0,0,.12);
  transform:scale(1.05);
  z-index:2
}

.color_spectrum_item:active {
  background-color:rgba(10,10,10,.7) !important;
  transition: background-color .2s ease
}